---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Showcase" sideBarActiveItemID="showcase">
  <div>
    <h1 class="text-3xl w-full font-bold mb-5">Showcase</div>
  </div>
  <ul class="grid grid-cols-3 gap-4">
    <li class="w-1/3 aspect-w-16 aspect-h-9">
        <iframe style="width: 100%; height: 100%;" scrolling="no" title="GSAP textanimation" src="https://codepen.io/daichi-fukui/embed/mdgjpgN?default-tab=result" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true"></iframe>
    </li>
    <li class="w-1/3 aspect-w-16 aspect-h-9">
        <iframe style="width: 100%; height: 100%;" scrolling="no" title="GSAP textanimation" src="https://codepen.io/daichi-fukui/embed/mdgjpgN?default-tab=result" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true"></iframe>
    </li>
    <li class="w-1/3 aspect-w-16 aspect-h-9">
        <iframe style="width: 100%; height: 100%;" scrolling="no" title="GSAP textanimation" src="https://codepen.io/daichi-fukui/embed/mdgjpgN?default-tab=result" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true"></iframe>
    </li>
</ul>

</BaseLayout>
